* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  position: relative;
}

.carousel .text button {
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #916DB3 0%, #E48586 100%);
  font-size: 20px;
  font-weight: 700;
  transition: all 1s;
}
.carousel .text button:hover {
  background: #916DB3;
}

.modal-footer .close {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  background: gray;
}
.modal-footer .pay {
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #916DB3 0%, #E48586 100%);
  font-size: 20px;
}

header {
  box-shadow: 0 2px 4px rgba(145, 109, 179, 0.2862745098);
}
header .navbar-brand {
  color: #121212;
  font-size: 1.8rem;
  font-weight: 700;
}
header .navbar-collapse .navbar-nav {
  gap: 30px;
}
header .navbar-collapse a {
  color: #121212;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.5s;
}
header .navbar-collapse a:hover {
  color: #E48586;
  font-size: 20px;
  font-weight: 400;
}

.carousel {
  padding-top: 50px;
}
.carousel .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-image: url(../../img/crs.png);
  background-position: center 30%;
  background-size: cover;
}
.carousel .container .text {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin: 100px;
}
.carousel .container .text h1 {
  font-size: 70px;
  font-weight: bolder;
}

.basket {
  position: fixed;
  right: 2%;
  bottom: 4%;
}
.basket button {
  border: none;
  padding: 12px 12px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #916DB3 0%, #E48586 100%);
}
.basket button i {
  color: #121212;
  font-size: 25px;
}

.modal-dialog {
  max-width: 1000px;
}
.modal-dialog .modal-title {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  font-size: 50px;
  font-weight: bold;
}

.project__title {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
}
.project__title h2 {
  font-size: 40px;
  font-weight: bold;
}

.card {
  min-height: 490px;
}
.card img {
  padding: 20px;
}
.card .card-body {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  align-items: center;
  padding: 20px;
}
.card .card-body h4 {
  text-align: end;
}
.card .card-body button {
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #916DB3 0%, #E48586 100%);
  font-size: 15px;
  width: 80%;
  font-weight: 400;
}
.card .card-body button:hover {
  background: #916DB3;
}
.card .card-body .card_name {
  font-weight: bold;
  font-size: 1.1rem;
}
.card .card-body .card_price {
  font-weight: bold;
}

.bg__dk {
  background: rgba(0, 0, 0, 0.4) url(../../img/ccc.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 756px;
}
.bg__dk .form {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bg__dk .form .img {
  min-width: 300px;
}
.bg__dk .form .img img {
  width: 100%;
  border-radius: 15px 0 0 15px;
}
.bg__dk .form .text {
  padding: 20px;
  line-height: 1.5;
  text-align: center;
  width: 100%;
}
.bg__dk .form .text input {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}
.bg__dk .form .text .form__dieuhuong button {
  margin-top: 20px;
  width: 80%;
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #916DB3 0%, #E48586 100%);
  font-size: 20px;
}
.bg__dk .form .text .form__dieuhuong button:hover {
  background: #916DB3;
  color: white;
}
.bg__dk .form .text button {
  margin-top: 20px;
  width: 80%;
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #916DB3 0%, #E48586 100%);
  font-size: 20px;
}
.bg__dk .form .text button:hover {
  background: #916DB3;
  color: white;
}
.bg__dk .form .text button a {
  color: #121212;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */