<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký tài khoản</title>
    <!-- thư viện -->
    <!-- FONT GG -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- FONT ASOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Link css -->
    <link rel="stylesheet" href="../asset/sass/css/main.css">
</head>

<body>
    <div class="sign">
        <div class="login__small">
            <div class="login__text">
                <form>
                    <div class="form-group">
                        <label class="lable__tk" for="exampleInputEmail1">Tài khoản</label>
                        <input type="email" class="form-control email" id="exampleInputEmail1"
                            placeholder="name@example.com" aria-describedby="emailHelp">
                        <span id="spanTK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="lable__mk" for="exampleInputPassword1">Mật khẩu</label>
                        <input type="password" class="form-control mayKhau" id="exampleInputPassword1"
                            placeholder="Mật khẩu của bạn">
                        <span id="spanMK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="lable__name" for="exampleInputPassword1">Họ và tên</label>
                        <input type="text" class="form-control mayKhau" id="exampleInputPassword1"
                            placeholder="Nhập họ và tên">
                        <span id="spanTen" class="text-danger"></span>
                    </div>
                    <div class="gender">
                        <h2>Chọn giới tính</h2>
                        <ul>
                            <li class="type">
                                <input id="Nam" type="radio" name="selector">
                                <label for="Nam">Nam</label>

                                <div class="check"></div>
                            </li>

                            <li class="type">
                                <input id="Nữ" type="radio" name="selector">
                                <label for="Nữ">Nữ</label>
                                <div class="check"></div>
                            </li>
                        </ul>

                    </div>

                    <div class="form-group">
                        <label class="lable__SDT" for="exampleInputPassword1">Số điện thoại</label>
                        <input type="number" class="form-control mayKhau" id="exampleInputPassword1"
                            placeholder="Nhập số điện thoại">
                        <span id="spanSDT" class="text-danger"></span>
                    </div>
                    <div class="btn"><button type="submit" class="btn btn-primary login__btn">Submit</button>
                        <button type="submit" class="btn btn-primary btn__home"><a
                                href="../index.html">Home</a></button>
                    </div>

                </form>
            </div>
            <div class="login__img sign__img">
                <img src="../asset/img/sign-shoes.jpg" alt="">
            </div>

        </div>
    </div>
</body>

</html>