<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- thư viện -->
    <!-- FONT GG -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- FONT ASOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Link css -->
    <link rel="stylesheet" href="../asset/sass/css/main.css">
</head>
<body>
    <section class="bg__dk">
        <div class="form">
            <div class="img">
                <img src="../asset/img/img-dk.jpg" alt="">
            </div>
            <div class="text">
                <form action="">
                    <p>USER</p>
                    <input type="text">
                    <p>PASSWORD</p>
                    <input type="password">
                    <div class="form__dieuhuong">
                        <button>Đăng nhập</button>
                        <button>đăng ký</button>
                        
                    </div>
                    <button><a href="../index.html">Home</a></button>
                </form>
            </div>
        </div>
        
    </section>
            
</body>
</html>